* {
    box-sizing: border-box;  
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(218, 212, 45);
}

#calc-container {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 20px;
    gap: 7px;
    padding: 15px;
    flex: 1;
    background-color: rgb(0, 0, 0);
}

#calc-display {
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    background-color: #f2f2f2;
}

#display-text {
    text-align: right;
    font-size: 68px;
    font-family: 'Play', sans-serif;
}

.row {
    display: flex;
    gap: 7px;
}

button {
    font-size: 34px;
    height: 85px;
    min-width: 1px;
    width: 25%;
    border-radius: 10px;
    background-color: rgb(218, 212, 45);
    font-family: 'Public Sans', sans-serif;
    cursor: pointer;
}

button:active {
    padding-top: 4px;
    padding-left: 7px;
}

button:hover {
    background-color: rgb(191, 186, 39) ;
}

.operator:hover {
    background-color: rgb(223, 97, 75) ;
}

#equals-btn {
    width: 51.7%;
}

#ac-btn, #ce-btn, #delete-btn {
    font-size: 30px;
}

.operator {
    background-color: rgb(255, 111, 86);
}